.fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  overflow: hidden;
  z-index: 100;
  width: 60px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  vertical-align: middle;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.fab:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
}

.fab a {
  color: #fff;
}

.fab .fa {
  padding-left: 7px;
}

.fab-blue {
  background-color: #0d6efd;
}

.fab-blue:hover {
  background-color: #72abfe;
}

.fab-indigo {
  background-color: #6610f2;
}

.fab-indigo:hover {
  background-color: #a471f7;
}

.fab-purple {
  background-color: #6f42c1;
}

.fab-purple:hover {
  background-color: #aa8fda;
}

.fab-pink {
  background-color: #d63384;
}

.fab-pink:hover {
  background-color: #e788b7;
}

.fab-red {
  background-color: #dc3545;
}

.fab-red:hover {
  background-color: #eb8c95;
}

.fab-orange {
  background-color: #fd7e14;
}

.fab-orange:hover {
  background-color: #feb679;
}

.fab-yellow {
  background-color: #ffc107;
}

.fab-yellow:hover {
  background-color: #ffdb6d;
}

.fab-green {
  background-color: #198754;
}

.fab-green:hover {
  background-color: #2ed889;
}

.fab-teal {
  background-color: #20c997;
}

.fab-teal:hover {
  background-color: #68e7c1;
}

.fab-cyan {
  background-color: #0dcaf0;
}

.fab-cyan:hover {
  background-color: #6ce0f7;
}

.fab-white {
  background-color: #fff;
}

.fab-white:hover {
  background-color: white;
}

.fab-gray {
  background-color: #6c757d;
}

.fab-gray:hover {
  background-color: #a1a8ae;
}

.fab-gray-dark {
  background-color: #343a40;
}

.fab-gray-dark:hover {
  background-color: #626d78;
}
